page-requests-selected-inspection {
  .reject-button {
    height: 4.6rem;
    background-color:  map-get($colors,  reject-button-red)

  }

  .accept-button {
    height: 4.6rem;
    background-color:  map-get($colors,  accept-button-red)

  }
}
