page-invoice-selected-detail {
    // .drawer-notification-img{
    //   background: url(../assets/imgs/Notification.png) no-repeat center center;
    //   display: block;
    //   background-size: contain;
    //   margin: auto;
    //   width: 50px;
    //   padding: 36%;
    //   background-size: contain;
    // }
    .toolbar-background{
      background-color: #FFD059;
  }
  .list-md .item-input:last-child{
      border: 1px solid #DCDCDE;
      background-color: #E7E5E8;
  }
  .label-md{
      font-weight: bold !important;
      color: rgb(142, 140, 163) !important;
  }
  .platform-mobile textarea.text-input{
      border: 1px solid #DCDCDE;
          background-color: #E7E5E8;
          padding: 40px;
  }
  .list-md .item-input:last-child:focus{
      border-bottom:#DCDCDE !important;
  }
  .scroll-content {

    display:block !important;
  }
  .button{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    background-color:map-get($colors, AppGreen);
    text-align: center;
    padding-left: 60px !important;
    padding-right: 60px !important;
    padding-top: 7vw;
    padding-bottom: 7vw;
    width: 100%;
    font-weight: 400;
  }
  ion-navbar.toolbar {

    background-color: map-get($colors, AppYellow) !important;
  }
  super-tabs:not([no-shadow]) > super-tabs-toolbar > ion-toolbar.toolbar {

    display: inline-flex;

  }
  ion-header {
    background-color: #ffd059 !important ;

  }

  super-tabs:not([no-shadow]) > super-tabs-toolbar > ion-toolbar.toolbar {
    overflow: visible;
  }
  .item.item-textarea {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border: 1px solid #DCDCDE;
    background-color: #E7E5E8;
    padding: 10px;
    margin-bottom: 15px;
  }


}
