page-confirmation-code-success {
  .header-text{
    font-weight:bold;
    width:90%;
    text-align: center;
    position: absolute;
    z-index: 999;
    // margin: -30px -30px -7px -30px;
  }
  .header-row{
    margin: -30px -30px -7px -30px;
    background-color: map-get($colors, successYellow);
    padding: 20% 20% 6% 20%;
  }

  .header-md::after {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 0px !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    content: "";
  }
  .header-ios::after {
    left: 0;
    bottom: -5px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 0px !important;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    content: "";
  }

  .toolbar-background-md {
    border-color: transparent;
    background: transparent;
  }
  .toolbar-background-ios {
    border-color: transparent;
    background: transparent;
  }



    .scroll-content {
      background-size:cover;
      background-color: #f7f8fc;
      padding-bottom: 0px !important;
      display: inline-grid !important;


  }

  .main-grid{
    align-self: center;
    height:100%;
    width: 100%;

  }

  .MainLogo{
    background: url(../assets/imgs/logo.png) no-repeat center center;
    display: block;
    width: 70%;
    height: 30vw;
    background-size: contain;
    margin: auto;

  }
  .item-md{
    background-color: transparent;
  }
  .item-ios{
    background-color: transparent;
  }
  .main-row{
    margin-top: 10vw;
    // margin-bottom: 10vw;

  }
  .row-form-center{
  // margin-top: 20vw
  }
  .forget-password-text{
    text-align: center
  }
  .forget-password-row{

    margin-top: 2vw;

    color:#00b7e5;
    text-decoration: underline;

  }
  .password-image{
    background: url(../assets/imgs/Password.png) no-repeat center center;
    display: block;
    background-size: auto;
    min-width: 32px;

  }
  .email-image{
    background: url(../assets/imgs/Email.png) no-repeat center center;
    display: block;
    background-size: auto;
    min-width: 32px;

  }
  .button-login{

    margin-left: auto;
    margin-right: auto;
    display: block !important;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    background-color:map-get($colors, AppGreen);
    text-align: center;
    padding-left: 60px !important;
    padding-right: 60px !important;
    padding-top: 4vw;
    padding-bottom: 4vw;
    width: 100%;
    font-weight: bold;
  }
  .login-button-row{

    position: absolute;
    bottom: 5vw;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
    padding: 0px 20px;

  }
  .login-ion-button{
    width: 100%
  }

  .dont-account-text{

    overflow: initial;
    font-weight: 500;

  }
  .create-account-text{
    color:#00b7e5;
    text-decoration: underline;

  }

  .dont-account-row{
    align-self: center;


  }
  ion-label {

    white-space: normal !important;
  }
  .label-md {
    // margin: 13px 34px;
    // background-color:;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;


  }
  .top-circle-icon{
    background: url(../assets/imgs/Group3.png) no-repeat center center;
    display: block;
    background-size: contain;
    width: -webkit-fill-available;
    min-width: 45px;
    min-height: 45px;
    /* padding: 0px 10px 0px 10px; */
    margin: 0px 5px 0px 5px;
  }
  .label-ios {
    margin: 13px 34px;
    // background-color: white;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;


  }
  .timer-text{
    font-size: 5rem;
    color:map-get($colors, AppYellow);
  }
  .input-timer-text{
    font-size: 3rem;
    text-align: center;


  }
  .text-input-md {
    margin: 13px 8px;
    padding: 0;
    text-align: center;
    width: calc(100% - 8px - 8px);
  }
  .text-input-ios {
    margin: 13px 8px;
    padding: 0;
    text-align: center;
    width: calc(100% - 8px - 8px);
  }
  .thumbsUpImage{
    background: url(../assets/imgs/tick-image.png) no-repeat center center;
    display: block;

    margin: auto;
    background-size: contain;
    min-width: -webkit-fill-available;
    min-height: -webkit-fill-available;

  }
  .thumbs-image-height{
    height: 35vw;
    margin-top: 25vw;


  }
  .label-row{
    margin: 0px 54px 13px 54px;

  }
  .label-text{


  }







}
