<!--
  Generated template for the InspectionsTabPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>
  <ion-grid>
    <ion-row class="filter-icon-row">

        <ion-img  class="icon-sort"> </ion-img>
        <!-- <img class="filter-icon-image" /> -->
          <ion-img  class="icon-filter"> </ion-img>



    </ion-row>

    <ion-row  class="draft-text-row">
      <ion-label>
        DRAFT
      </ion-label>


    </ion-row>
    <ion-list class='draft-list' *ngFor='let item of draftsArray'>
        <ion-item-sliding >
          <ion-item>
            <ion-label>
          <ion-row>
            <ion-col col-3>
                <ion-avatar class="icon-image-class">
                    <img style='border-radius: 20vw;' src='../assets/imgs/blank-profile-picture.png'>
                  </ion-avatar>
            </ion-col>
            <ion-col col-9 class="col-width" style="align-self:center">

                  <ion-row>
                     <ion-label class="invoice-text">{{item.number}}</ion-label>
                  </ion-row>

                  <ion-row>
                      <ion-label class="address-text">{{item.address}}</ion-label>
                  </ion-row>

            </ion-col>
          </ion-row>
        </ion-label>
        </ion-item>

          <ion-item-options  side="left">
              <button  class="sliding-background-draft">
                    <ion-label style="color:white" class="sliding-label"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Draft&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </ion-label>
              </button>
            </ion-item-options>

        </ion-item-sliding>
    </ion-list>



    <ion-row  class="inprogress-text-row">
        <ion-label>
          In Progress
        </ion-label>


      </ion-row>
      <ion-list class='inprogress-list' *ngFor='let item of inProgressArray'>
          <ion-item-sliding >
            <ion-item>
              <ion-label>
            <ion-row>
              <ion-col col-3>
                  <ion-avatar class="icon-image-class">
                      <img style='border-radius: 20vw;' src='../assets/imgs/blank-profile-picture.png'>
                    </ion-avatar>
              </ion-col>
              <ion-col col-9 class="col-width" style="align-self:center">

                    <ion-row>
                       <ion-label class="invoice-text">{{item.number}}</ion-label>
                    </ion-row>

                    <ion-row>
                        <ion-label class="address-text">{{item.address}}</ion-label>
                    </ion-row>

              </ion-col>
            </ion-row>
          </ion-label>
          </ion-item>

            <ion-item-options  side="left">
                <button  class="sliding-background-progress">
                      <ion-label style="color:white" class="sliding-label"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In Progress&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </ion-label>
                </button>
              </ion-item-options>

          </ion-item-sliding>
      </ion-list>





      <ion-row  class="inprogress-text-row">
          <ion-label>
            Completed
          </ion-label>


        </ion-row>
        <ion-list class='completed-list' *ngFor='let item of completedArray'>
            <ion-item-sliding >
              <ion-item>
                <ion-label>
              <ion-row>
                <ion-col col-3>
                    <ion-avatar class="icon-image-class">
                        <img style='border-radius: 20vw;' src='../assets/imgs/blank-profile-picture.png'>
                      </ion-avatar>
                </ion-col>
                <ion-col col-9 class="col-width">

                      <ion-row>
                         <ion-label class="invoice-text">{{item.number}}</ion-label>
                      </ion-row>

                      <ion-row>
                          <ion-label class="address-text">{{item.address}}</ion-label>
                      </ion-row>

                </ion-col>
              </ion-row>
            </ion-label>
            </ion-item>

              <ion-item-options  side="left">
                  <button  class="sliding-background-completed">
                        <ion-label style="color:white" class="sliding-label"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Completed&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </ion-label>
                  </button>
                </ion-item-options>

            </ion-item-sliding>
        </ion-list>

  </ion-grid>


</ion-content>
