page-signup-personal-info {

  .scroll-content {
    background-size:cover;
    background-color: #f7f8fc;
    padding-bottom: 0px !important;
    display: inline-grid !important;
}
  .main-grid{
    align-self: center;
    height:100%;
    width: 100%;
    margin-bottom: 10px;

  }
  .top-circle-icon{
    background: url(../assets/imgs/personal-info-circle-icons.png) no-repeat center center;
    display: block;
    background-size: contain;
    width: -webkit-fill-available;
    min-width: 45px;
    min-height: 45px;
    /* padding: 0px 10px 0px 10px; */
    margin: 0px 5px 0px 5px;
  }
  .login-ion-button{
    width: 100%
  }
  .login-button-row{
    margin-top: 5vw;

    align-self: center;
    width: 100%

  }
  .button-login{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    color: white;
    border-radius: 3px;
    font-size: 14px;
    background-color:map-get($colors, AppGreen);
    text-align: center;
    padding-left: 60px !important;
    padding-right: 60px !important;
    padding-top: 4vw;
    padding-bottom: 4vw;
    width: 100%;
    font-weight: bold;
  }

  .back-icon-image{
    background: url(../assets/imgs/back-icon.png) no-repeat center center;
    display: block;
    background-size: contain;
    min-width: 45px;

  }
  .email-text{
    margin: 13px 2px 0px 17px;
    color:map-get($colors, danger);
    font-size: 13px;

  }
  .inputLabel {
    right: 1px !important;
    background-color: transparent;
    color: red !important;
    text-align: end;
    font-size: small;
    font-weight: 700;
  }

   .inputLabelheading {
    right: 1px !important;
    background-color: transparent;
    color: red !important;
    text-align: right;
    font-size: small;
    font-weight: 700;
  }
  .validation-text-end{
  // width: 100%;
  max-width: -webkit-fill-available;
  text-align: end;
  margin: 5px 8px 5px 0;

  }
  .validation-text-start{
    // width: 100%;
    max-width: -webkit-fill-available;
    text-align: start;
    margin: 5px 8px 13px 0;

    }
    .validation-req-text-end{
      max-width: -webkit-fill-available;
      text-align: end;
      margin: -14px 8px 13px 0;
    }
    .validation-invalid-text-end{
      max-width: -webkit-fill-available;
      text-align: end;
      margin: 7px 8px 13px 20px;
    }

    .item-md {

      background-color: transparent;
    }
    .item-ios {

      background-color: transparent;
    }



    .select-md {
      padding: 13px 8px 13px 16px;
      width: 100%;
      max-width: -webkit-fill-available;
  }
  .select-ios {
    padding: 13px 8px 13px 16px;
    width: 100%;
    max-width: -webkit-fill-available;
}

.text-input[disabled] {
  opacity: 1;
}
.text-input-md {
  margin: 13px 20px;
}
.text-input-ios {
  margin: 13px 20px;
}



.header-text{
  font-weight:bold;
  width:90%;
  text-align: center;
  position: absolute;
  z-index: 999;
  // margin: -30px -30px -7px -30px;
}
.header-row{
  margin: -30px -30px -7px -30px;
  background-color: map-get($colors, successYellow);
  padding: 20% 20% 6% 20%;
}
.label-md {
  overflow: initial
}


}
