


<ion-content padding>




  <ion-grid class="main-grid">



    <ion-row style="padding: 10% 15px 10% 15px;" >
      <ion-row  class="login-ion-button">
        <ion-img class="top-circle-icon"> </ion-img>
      </ion-row>
        <ion-col col-4 style="align-self:center">
          <ion-label style="font-size: 9px;font-weight: bold;">ACCOUNT</ion-label>
        </ion-col>

        <ion-col col-4 style="align-self:center">
            <ion-label style="font-size: 9px;text-align: center;color: #d7d6dc;margin: 11px 0px 11px 0px;">PERSONAL INFO</ion-label>
        </ion-col>

        <ion-col col-4 style="align-self:flex-end">
              <ion-label style="font-size: 9px;text-align: end;color: #d7d6dc;margin: 11px 0px 11px 0px;">EXPERIENCE</ion-label>
        </ion-col>
    </ion-row>




    <ion-row>
      <ion-row style="width:100%">


        <ion-label class="email-text" end>FIRST NAME</ion-label>


        <ion-row>

            <ion-col [ngClass]="inputAnimation" col-3 style="align-self:center">

                    <ion-select interface="alert" [(ngModel)]="mrMrs">
                      <ion-option value="Mr.">Mr.</ion-option>
                      <ion-option value="Mrs.">Mrs.</ion-option>

                    </ion-select>
            </ion-col>


      <form style="flex: 1;" [formGroup]="formgroup" [ngClass]="inputAnimation">

          <ion-col col-9>


        <ion-item class="item">
          <ion-input (ionFocus)='provideHepticFeedback()' [attr.maxlength]="30" value="testFirstName" type="text" formControlName="firstName">
          </ion-input>
        </ion-item>
      </ion-col>
    </form>

      </ion-row>
      <ion-label class="inputLabel validation-invalid-text-end" style="max-width: -webkit-fill-available;margin: 0px 0px 1px -30vw;" *ngIf="firstName.hasError('required') && firstName.touched"
      end>Required*</ion-label>






     <form style="flex: 1;" [formGroup]="formgroup" [ngClass]="inputAnimation">

          <ion-label class="email-text" end>LAST NAME</ion-label>
          <ion-item class="item">
            <ion-input (ionFocus)='provideHepticFeedback()' [attr.maxlength]="30" value="testLastName" type="text" formControlName="lastName">
            </ion-input>
          </ion-item>

          <ion-label class="inputLabel validation-invalid-text-end" *ngIf="lastName.hasError('required') && lastName.touched"
          end>Required*</ion-label>
          <!-- <ion-label class="inputLabel validation-invalid-text-end" *ngIf="lastName.hasError('pattern') && lastName.touched"
            end>Invalid lastName*</ion-label> -->


          <ion-label class="email-text" end>ID</ion-label>
          <ion-item class="item">
            <ion-input (ionFocus)='provideHepticFeedback()'  value="123123" type="number"
            (keydown)="checkLength_id($event,10)"
            formControlName="id">
            </ion-input>
          </ion-item>

          <ion-label class="inputLabel validation-invalid-text-end" *ngIf="id.hasError('required') && id.touched"
          end>Required*</ion-label>
          <!-- <ion-label class="inputLabel validation-invalid-text-end" *ngIf="id.hasError('pattern') && id.touched"
            end>Invalid id*</ion-label> -->


            <ion-label class="email-text" end>MOBILE NUMBER</ion-label>
            <ion-item class="item">
              <ion-input (keydown)="checkLength_mobile($event,15)"
              (ionFocus)='provideHepticFeedback()' maxlength="20" value="12312" type="number" formControlName="mobile">
              </ion-input>
            </ion-item>

            <ion-label class="inputLabel validation-invalid-text-end" *ngIf="mobile.hasError('required') && mobile.touched"
            end>Required*</ion-label>
            <!-- <ion-label class="inputLabel validation-invalid-text-end" *ngIf="id.hasError('pattern') && id.touched"
              end>Invalid id*</ion-label> -->


          </form>
        </ion-row>

        <ion-label [ngClass]="inputAnimation" class="email-text">NATIONALITY</ion-label>
        <ion-item [ngClass]="inputAnimation" class="dropdown-item">
          <ion-select interface="alert" [(ngModel)]="nationality">
            <ion-option value="Saudi Arabia">Saudi Arabia</ion-option>
            <ion-option value="Pk">Pakistan</ion-option>
            <ion-option value="USA">United States of America</ion-option>
            <ion-option value="UAE">United Arab Emirates</ion-option>
          </ion-select>
        </ion-item>


          <ion-label [ngClass]="inputAnimation" class="email-text">Gender</ion-label>
          <ion-item [ngClass]="inputAnimation" class="dropdown-item">
            <ion-select interface="alert" [(ngModel)]="gender">
              <ion-option value="f">Female</ion-option>
              <ion-option value="m">Male</ion-option>
            </ion-select>
          </ion-item>


          <ion-label [ngClass]="inputAnimation" class="email-text">REGION</ion-label>
          <ion-item [ngClass]="inputAnimation" class="dropdown-item">
            <ion-select interface="alert" [(ngModel)]="region">
              <ion-option value="Central">Central</ion-option>
              <ion-option value="North">North</ion-option>
              <ion-option value="East">East</ion-option>
              <ion-option value="West">West</ion-option>
              <ion-option value="South">South</ion-option>
            </ion-select>
          </ion-item>


          <ion-label [ngClass]="inputAnimation" class="email-text">CITY</ion-label>
          <ion-item [ngClass]="inputAnimation" class="dropdown-item">
            <ion-select interface="alert" [(ngModel)]="city">
              <ion-option value="city1">Jeddah</ion-option>
              <ion-option value="city2">city2</ion-option>
              <ion-option value="city3">city3</ion-option>
              <ion-option value="city4">city4</ion-option>
            </ion-select>
          </ion-item>



          <ion-label [ngClass]="inputAnimation" class="email-text">REGISTER IN AYEN AS</ion-label>
          <ion-item [ngClass]="inputAnimation" class="dropdown-item">
            <ion-select interface="alert" [(ngModel)]="registerinAyenAs">
              <ion-option value="Examiner">Examiner</ion-option>
              <ion-option value="Inspector">Inspector</ion-option>


            </ion-select>
          </ion-item>




          <ion-row style="width:100%">

            <form style="flex: 1;" [formGroup]="formgroup" [ngClass]="inputAnimation">

              <ion-label class="email-text" end>ORGANIZATION</ion-label>
              <ion-item class="item">
                <ion-input [attr.maxlength]="30" (ionFocus)='provideHepticFeedback()'  value="orgTest" type="text" formControlName="organization">
                </ion-input>
              </ion-item>

              <ion-label class="inputLabel validation-invalid-text-end" *ngIf="organization.hasError('required') && organization.touched"
                end>Required*</ion-label>
              <ion-label class="inputLabel validation-invalid-text-end" *ngIf="organization.hasError('pattern') && organization.touched"
                end>Invalid email*</ion-label>

                <ion-label class="email-text" end>C.R NUMBER</ion-label>
                <ion-item class="item">
                  <ion-input (keydown)="checkLength_crNumber($event,15)" (ionFocus)='provideHepticFeedback()'  value="123123" type="number" formControlName="crNumber">
                  </ion-input>
                </ion-item>

                <ion-label class="inputLabel validation-invalid-text-end" *ngIf="crNumber.hasError('required') && crNumber.touched"
                end>Required*</ion-label>
                <!-- <ion-label class="inputLabel validation-invalid-text-end" *ngIf="lastName.hasError('pattern') && lastName.touched"
                  end>Invalid lastName*</ion-label> -->


                <ion-label class="email-text" end>ORGANIZATION LICENSE NUMBER</ion-label>
                <ion-item class="item">
                  <ion-input (keyup)="gotoSelectDate($event)"  (ionFocus)='provideHepticFeedback()' maxlength="30" value="123123" type="number" formControlName="organizationLicenseNumber">
                  </ion-input>
                </ion-item>

                <ion-label class="inputLabel validation-invalid-text-end" *ngIf="organizationLicenseNumber.hasError('required') && organizationLicenseNumber.touched"
                end>Required*</ion-label>
                <!-- <ion-label class="inputLabel validation-invalid-text-end" *ngIf="id.hasError('pattern') && id.touched"
                  end>Invalid id*</ion-label> -->


                  <ion-label class="email-text" end>EXPIRY DATE OF ORGANIZATIONS LICENSE</ion-label>
                  <ion-item class="item"  (click)="showDatePicker()">
                    <ion-input value={{expiryDateValue}}  disabled="true" (ionFocus)='provideHepticFeedback()' maxlength="55"  type="text" formControlName="expiryDate">
                    </ion-input>
                  </ion-item>

                  <ion-label class="inputLabel validation-invalid-text-end" *ngIf="expiryDate.hasError('required') && expiryDate.touched"
                  end>Required*</ion-label>



                </form>
              </ion-row>







        </ion-row>





    <ion-row class="login-button-row" [ngClass]="inputAnimation" >
      <ion-col tappable (click)="goBack()" col-2 style="align-self: center;background-color: white;padding: 12px 0px 12px 0px;">
        <!-- <button  tappable (click)="gotoConfirmationCodePage()"> -->
        <ion-img class="back-icon-image"> </ion-img>
        <!-- </button> -->
      </ion-col>





      <ion-col col-10 >
        <ion-buttons>
          <button class="button-login" tappable (click)="gotoSignupExperience()">
            Continue</button>
        </ion-buttons>
      </ion-col>

    </ion-row>




      </ion-grid>

</ion-content>
