<!--
  Generated template for the FinancialsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button start menuToggle>
      <ion-img class="drawer-icon-img"> </ion-img>
    </button>
    <ion-title style="padding: 0 2vw  0px 12px;">Financials</ion-title>
    <button ion-button end menuToggle>
      <ion-img class="drawer-share-img"> </ion-img>
    </button>
    <button ion-button end menuToggle>
      <ion-img class="drawer-notification-img"> </ion-img>
    </button>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
        <ion-list class='draft-list'>
            <ion-item-sliding >
              <ion-item  tappable style="padding-left: 0px; " >
                <ion-label>

                      <ion-row>
                         <ion-label class="invoice-text">Available Balance (SAR)</ion-label>
                      </ion-row>

                      <ion-row>
                          <ion-label class="address-text">+6,084.00 </ion-label>
                      </ion-row>

                      <ion-row>
                          <ion-label class="transffered-text">will be transferred in <b>15.02.2019</b> </ion-label>
                      </ion-row>

            </ion-label>
            </ion-item>

              <ion-item-options  side="left">
                  <button  class="sliding-background-draft">
                        <ion-label style="color:white" class="sliding-label"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Draft&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </ion-label>
                  </button>
                </ion-item-options>

            </ion-item-sliding>
        </ion-list>
    </ion-row>








    <ion-row>
      <ion-col col-6>
        <ion-list class='pending-balance-list'>
            <ion-item-sliding >
              <ion-item  tappable class="">
                <ion-label>

                      <ion-row>
                         <ion-label class="invoice-text">Pending Balance (SAR)
                          </ion-label>
                      </ion-row>

                      <ion-row>
                          <ion-label class="balance-text">+2,028.00</ion-label>
                      </ion-row>

            </ion-label>
            </ion-item>

              <ion-item-options  side="left">
                  <button  class="sliding-background-draft">
                        <ion-label class="sliding-label"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Draft&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </ion-label>
                  </button>
                </ion-item-options>

            </ion-item-sliding>
        </ion-list>
      </ion-col>



      <ion-col col-6>
          <ion-list class='paid-balance-list'>
              <ion-item-sliding >
                <ion-item  tappable style="padding-left: 0px; " >
                  <ion-label>

                      <ion-row>
                          <ion-label class="invoice-text">Paid Balance (SAR)
                           </ion-label>
                       </ion-row>

                       <ion-row>
                           <ion-label class="balance-text">+2,028.00</ion-label>
                       </ion-row>

              </ion-label>
              </ion-item>

                <ion-item-options  side="left">
                    <button  class="sliding-background-draft">
                          <ion-label style="color:white" class="sliding-label"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Draft&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </ion-label>
                    </button>
                  </ion-item-options>

              </ion-item-sliding>
          </ion-list>
        </ion-col>
    </ion-row>






    <ion-row class='border-width'>

    </ion-row>


    <ion-row  class="draft-text-row">
        <ion-label>
          TRANSACTIONS
        </ion-label>
      </ion-row>


      <ion-row  *ngFor="let item of transactionService" >
          <ion-item-sliding  >
          <ion-item *ngFor="let item of item.transactions" class="transaction-item">
            <ion-label>
          <ion-row >
            <ion-col col-6>
                  <ion-row style='flex: 1'>
                        <ion-col style="padding: 0" align-self-end>
                            <ion-label class="transaction-invoice-text">{{item.transactionName}}</ion-label>
                        </ion-col>
                        <ion-col style="padding: 0" align-self-end>
                            <ion-label class="transaction-address-text">{{item.orderId}}</ion-label>
                        </ion-col>
                  </ion-row>
                </ion-col>

                <ion-col col-6>
                    <ion-row style='flex: 1;'>
                        <ion-col style="padding: 0" align-self-end>
                            <ion-label class="transaction-invoice-end">{{item.transactionAmount}}</ion-label>
                        </ion-col>
                        <ion-col style="padding: 0" align-self-end>
                            <ion-label class="transaction-address-end">{{item.transactionData}}</ion-label>
                        </ion-col>
                  </ion-row>
                </ion-col>

          </ion-row>
        </ion-label>
        </ion-item>

          <ion-item-options  side="left">
              <button  class="sliding-background-draft">
                    <ion-label style="color:white" class="sliding-label"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Draft&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </ion-label>
              </button>
            </ion-item-options>

        </ion-item-sliding>
      </ion-row>


    <!-- <ion-list class='transactions-list' >
        <ion-row>
          <ion-item-sliding >
            <ion-item style="transaction-item"  tappable >
              <ion-label>
            <ion-row>
              <ion-col col-6>
                    <ion-row style='flex: 1;'>
                          <ion-col style="padding: 0" align-self-end>
                              <ion-label class="transaction-invoice-text">TA2390932</ion-label>
                          </ion-col>
                          <ion-col style="padding: 0" align-self-end>
                              <ion-label class="transaction-address-text">Order ID: 1213423101</ion-label>
                          </ion-col>
                    </ion-row>
                  </ion-col>

                  <ion-col col-6>
                      <ion-row style='flex: 1;'>
                          <ion-col style="padding: 0" align-self-end>
                              <ion-label class="transaction-invoice-end">+1,014 SAR</ion-label>
                          </ion-col>
                          <ion-col style="padding: 0" align-self-end>
                              <ion-label class="transaction-address-end">12.01.2018</ion-label>
                          </ion-col>
                    </ion-row>
                  </ion-col>

            </ion-row>
          </ion-label>
          </ion-item>

            <ion-item-options   side="left">
                <button  class="sliding-background-draft">
                      <ion-label style="color:white" class="sliding-label"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Draft&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </ion-label>
                </button>
              </ion-item-options>

          </ion-item-sliding>
        </ion-row>

    </ion-list>
    <ion-list class='transactions-list' >
          <ion-row>
            <ion-item-sliding >
              <ion-item style="transaction-item"  tappable >
                <ion-label>
              <ion-row>
                <ion-col col-6>
                      <ion-row style='flex: 1;'>
                            <ion-col style="padding: 0" align-self-end>
                                <ion-label class="transaction-invoice-text">TA2390932</ion-label>
                            </ion-col>
                            <ion-col style="padding: 0" align-self-end>
                                <ion-label class="transaction-address-text">Order ID: 1213423101</ion-label>
                            </ion-col>
                      </ion-row>
                    </ion-col>

                    <ion-col col-6>
                        <ion-row style='flex: 1;'>
                            <ion-col style="padding: 0" align-self-end>
                                <ion-label class="transaction-invoice-end">+1,014 SAR</ion-label>
                            </ion-col>
                            <ion-col style="padding: 0" align-self-end>
                                <ion-label class="transaction-address-end">12.01.2018</ion-label>
                            </ion-col>
                      </ion-row>
                    </ion-col>

              </ion-row>
            </ion-label>
            </ion-item>

              <ion-item-options  side="left">
                  <button  class="sliding-background-draft">
                        <ion-label style="color:white" class="sliding-label"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Draft&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </ion-label>
                  </button>
                </ion-item-options>

            </ion-item-sliding>
          </ion-row>

    </ion-list> -->




  </ion-grid>

</ion-content>
