page-signup {


.header-md::after {
  left: 0;
  bottom: -5px;
  background-position: left 0 top -2px;
  position: absolute;
  width: 100%;
  height: 0px !important;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
  background-repeat: repeat-x;
  content: "";
}
.header-ios::after {
  left: 0;
  bottom: -5px;
  background-position: left 0 top -2px;
  position: absolute;
  width: 100%;
  height: 0px !important;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMV…h/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
  background-repeat: repeat-x;
  content: "";
}

.toolbar-background-md {
  border-color: transparent;
  background: transparent;
}
.toolbar-background-ios {
  border-color: transparent;
  background: transparent;
}



  .scroll-content {
    background-size:cover;
    background-color: #f7f8fc;

    padding-bottom: 0px !important;
    display: inline-grid !important;


}

.main-grid{
  align-self: center;
  height:100%;
  width: 100%;

}

.MainLogo{
  background: url(../assets/imgs/logo.png) no-repeat center center;
  display: block;
  width: 70%;
  height: 30vw;
  background-size: contain;
  margin: auto;

}
.item-md{
  background-color: transparent;
}
.item-ios{
  background-color: transparent;
}
.main-row{
  margin-top: 20vw;
  margin-bottom: 10vw;

}
.row-form-center{
// margin-top: 20vw
}
.forget-password-text{
  text-align: center
}
.forget-password-row{

  margin-top: 2vw;

  color:#00b7e5;
  text-decoration: underline;

}
.password-image{
  background: url(../assets/imgs/Password.png) no-repeat center center;
  display: block;
  background-size: cover;
  min-width: 45px;

}
.email-image{
  background: url(../assets/imgs/Email.png) no-repeat center center;
  display: block;
  background-size: cover;
  min-width: 45px;

}
.back-icon-image{
  background: url(../assets/imgs/back-icon.png) no-repeat center center;
  display: block;
  background-size: contain;
  min-width: 45px;

}
.mobile-image{
  background: url(../assets/imgs/Mobile.png) no-repeat center center;
  display: block;
  background-size: 38px;
  min-width: 45px;

}
.address-image{
  background: url(../assets/imgs/Address.png) no-repeat center center;
  display: block;
  background-size: cover;
  min-width: 45px;

}
.city-image{
  background: url(../assets/imgs/City.png) no-repeat center center;
  display: block;
  background-size: cover;
  min-width: 45px;

}
.location-image{
  background: url(../assets/imgs/State.png) no-repeat center center;
  display: block;
  background-size: cover;
  min-width: 45px;

}
.button-login{
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  color: black;
  border-radius: 3px;
  font-size: 14px;
  background-color:map-get($colors, AppYellow);
  text-align: center;
  padding-left: 60px !important;
  padding-right: 60px !important;
  padding-top: 4vw;
  padding-bottom: 4vw;
  width: 100%;
  font-weight: bold;

}
.button-back{
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  color: black;
  border-radius: 3px;
  font-size: 14px;
  background-color:map-get($colors, light);
  text-align: center;
  padding-left: 60px !important;
  padding-right: 60px !important;
  padding-top: 4vw;
  padding-bottom: 4vw;
  width: 100%;
  font-weight: bold;

}
.login-button-row{
  margin-top: 5vw;

  align-self: center;
  width: 100%

}
.login-ion-button{
  width: 100%
}

.dont-account-text{

  overflow: initial;
  font-weight: 500;

}
.create-account-text{
  color:#00b7e5;
  text-decoration: underline;

}
.dont-account-row{
  align-self: center;


}
.facebook-image{
  background: url(../assets/imgs/FB.png) no-repeat center center;
  display: block;
  background-size: inherit;
  min-width: 50px;
  min-height: 50px;

}
.twitter-image{
  background: url(../assets/imgs/TW.png) no-repeat center center;
  display: block;
  background-size: inherit;
  min-width: 50px;
  min-height: 50px;


}
.googleplus-image{
  background: url(../assets/imgs/G.png) no-repeat center center;
  display: block;
  background-size: inherit;
  min-width: 50px;
  min-height: 50px;

}

.inputLabel {
  right: 1px !important;
  background-color: transparent;
  color: red !important;
  text-align: end;
  font-size: small;
  font-weight: 700;
}
 .inputLabelheading {
  right: 1px !important;
  background-color: transparent;
  color: red !important;
  text-align: right;
  font-size: small;
  font-weight: 700;
}
.validation-text-end{
// width: 100%;
max-width: -webkit-fill-available;
text-align: end;
margin: 5px 8px 5px 0;

}
.validation-text-start{
  // width: 100%;
  max-width: -webkit-fill-available;
  text-align: start;
  margin: 5px 8px 13px 0;

  }
  .validation-req-text-end{
    max-width: -webkit-fill-available;
    text-align: end;
    margin: -14px 8px 13px 0;
  }
  .validation-invalid-text-end{
    max-width: -webkit-fill-available;
    text-align: end;
    margin: -14px 8px 13px 20px;
  }
  .item{
    margin-bottom: 15px;

  }
  .email-text{
    margin: 13px 2px 0px 17px;
    color:map-get($colors, AppGrey);
    font-size: 13px;

  }
  .password-text{
    margin: 13px 2px 0px 17px;
    color: map-get($colors, AppGrey);
    font-size: 13px;

  }
  .confirm-password-text{
    margin: 13px 2px 0px 17px;
    color: map-get($colors, AppGrey);
    font-size: 13px;

  }
  .or-text{
    font-size: x-large;
    color: gray;
    text-align: center;
    margin: auto;
  }


  .google-button {
    width: 100%;

    height: 40px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;

    &:focus,
    &:hover {
      box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
    }

    &:active {
      background-color: #e5e5e5;
      box-shadow: none;
      transition-duration: 10ms;
    }
  }

  .google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  }

  .google-button__icon--plus {
    width: 27px;
  }

  .google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
  }

  // Boilerplate stuff

  html, body {
    height: 100%;
  }

  body {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button ~ button {
    margin-left: 20px;
  }
  .top-circle-icon{
    background: url(../assets/imgs/top-circle.png) no-repeat center center;
    display: block;
    background-size: contain;
    width: -webkit-fill-available;
    min-width: 45px;
    min-height: 45px;
    /* padding: 0px 10px 0px 10px; */
    margin: 0px 5px 0px 5px;
  }
  .social-buttons-row{
    padding-top: 5vw;
  }







}
